<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/">
  <span class="align-middle" style="color: green;">UNT Lost and Found</span>
</a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages
            </li>

            <li class="sidebar-item {% if url == 'home' %}active{% endif %}">
                <a class="sidebar-link" href="{% url 'home' %}">
                  <i class="align-middle" data-feather="home"></i> <span class="align-middle">Home</span>
                </a>
            </li>

            <li class="sidebar-item {% if url == 'found_items' %}active{% endif %}">
              <a class="sidebar-link" href="{% url 'found_items' %}">
                <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Found Items</span>
              </a>
            </li>

            <li class="sidebar-item {% if url == 'create_found_item' %}active{% endif %}">
              <a class="sidebar-link" href="{% url 'create_found_item' %}">
                <i class="align-middle" data-feather="edit"></i> <span class="align-middle">Create Found Item</span>
              </a>
            </li>

            {% if user.is_superuser %}
            <li class="sidebar-item {% if url == 'claims' %}active{% endif %}">
              <a class="sidebar-link" href="{% url 'claims' %}">
                <i class="align-middle" data-feather="check"></i> <span class="align-middle">Claims</span>
              </a>
            </li>
            {% endif %}

            {% if user.is_superuser %}
            <li class="sidebar-item {% if url == 'users' %}active{% endif %}">
              <a class="sidebar-link" href="{% url 'users' %}">
                <i class="align-middle" data-feather="users"></i> <span class="align-middle">Users</span>
              </a>
            </li>
            {% endif %}
            
        </ul>

        
    </div>
</nav>